.main-sidebar {
    background-color: #2a3237 !important;
    a{
        color: #fffce9 !important;
    }
    i{
        color:#fffce9 !important;
    }
}

.content-wrapper{
    background-color: #fffce9 !important;
    a{
        color: #fffce9;
    }
    a:hover{
        color: #8b897b !important;
    }
}
body{
    background-color: #fffce9 !important;
}
.navbar{
    background-color: #2a3237 !important;
    .fa-bars{
        color: #fffce9 !important;
    }
    .fa-bars:hover{
        color: #8b897b !important;
    }
    .fa-search{
        color: #2a3237 !important;
    }
    .fa-search:hover{
        color: #8b897b !important;
    }
}

.light {
	color: #fffce9;
}

.dark{
	color: #272626;
}

.light-bg {
	background-color: #fffce9;
}

.dark-bg {
	background-color: #272626;
}


.btn-blue {
	color: #2a3237;
	background: #fffce9;
}

.btn.btn-blue:hover {
	color: #fffce9;
	background: #2a3237;
}
