.main-sidebar {
    background-color: #5390d9 !important;

    a {
        color: white !important;
    }

    i {
        color: white !important;
    }
}

.content-wrapper {
    background-color: white !important;

    .btnLogin {
        color: white;
    }

    .btnLogin:hover {
        color: #c5c4c0 !important;
    }
}

body {
    background-color: white !important;
}

.card-header {
    background-color: #5390d9 !important;
}

.headShow {
    background-color: #5390d9 !important;
}

.card-footer {
    .btn {
        background-color: #5390d9 !important;
        border: 1px solid #5390d9;
    }

    .btn:hover {
        background-color: #5390d9a2 !important;
        border: 1px solid #5390d938;
    }
}

.showStaff {
    .btn {
        background-color: #5390d9 !important;
        border: 1px solid #5390d9;
    }

    .btn:hover {
        background-color: #5390d9a2 !important;
        border: 1px solid #5390d938;
    }
}

.card-body {
    img {
        width: 130px;
    }
}

.navbar {
    background-color: #5390d9 !important;

    .fa-bars {
        color: white !important;
    }

    .fa-bars:hover {
        color: #c5c4c0 !important;
    }

    .fa-search {
        color: #5390d9 !important;
    }

    .fa-search:hover {
        color: #c5c4c0 !important;
    }
}

.light {
    color: white;
}

.dark {
    color: #5390d9;
}

.light-bg {
    background-color: white;
}

.dark-bg {
    background-color: #5390d9;
}

.btnShow {
    background-color: #5390d9 !important;
    border: 1px solid #5390d9;
    color: white !important;
}

.btnShow:hover {
    background-color: #5390d9a2 !important;
    border: 1px solid #5390d938;
    color: white !important;
}

.btn-blue {
    border: 1px solid white;
    color: white;
    background: #5390d9;
}

.btn.btn-blue:hover {
    color: #5390d9;
    background: white;
}



.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: rgba(255, 255, 255, 0.445);
    color: #5390d9 !important;

    i {
        color: #5390d9 !important;
    }
}

[class*="sidebar-dark-"] .nav-treeview>.nav-item>.nav-link.active {
    background-color: rgba(255, 255, 255, .9);
    color: #5390d9 !important;

    i {
        color: #5390d9 !important;
    }
}

.btnMail {
    background-color: #5390d9 !important;
    border: 1px solid #5390d9;
}

.btnMail:hover {
    background-color: #5390d9a2 !important;
    border: 1px solid #5390d938;
}

.input-icon {
    float: right;
    margin-right: 10px;
    margin-top: -27px;
    position: relative;
    z-index: 2;
    color: gray;
}

